

<table class="table">
    <thead>

      <tr>
        <th scope="col">Trip #ID</th>
        <th scope="col">Departure Loaction</th>
        <th scope="col">Arrival Loaction</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
      </tr>

    </thead>
    
    <tbody>

      <tr>
        <th scope="row">1</th>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>

      </tr>

      <tr>
        <th scope="row">2</th>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>

      </tr>

      <tr>
        <th scope="row">3</th>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>

      </tr>

      <tr>
        <th scope="row">4</th>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>

      </tr>


    </tbody>
  </table>